.paragraph--departament-title {
  font-weight: 600;
  font-size: 3rem;
  color: #002740;
}
.paragraph--copyright {
  color: #fff;
  font-size: 14px;
}

.paragraph--partnes-alignment {
  margin-left: 110px;
}

/* footer */

.link--rich-email {
  margin: 12%;
  color: #5974c7;
}
.paragraph--rich-email {
  margin-top: 0%;
}
.paragraph--textoInterno {
  margin-top: -97px;
  margin-left: 18%;
  margin-right: 18%;
  padding: 1px;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.paragraph--title-footer {
  color: #333;
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Open Sans Condensed";
  line-height: 1.3;
}
.paragraph--Brasil-end-1 {
  font-size: 0.9rem !important;
  color: #222;
  box-sizing: inherit;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-family: "Open Sans";
}
.paragraph--Brasil-end-2 {
  font-size: 0.9rem !important;
  color: #222;
  box-sizing: inherit;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-family: "Open Sans";
}
.paragraph--Espanha-end {
  font-size: 0.9rem !important;
  color: #222;
  box-sizing: inherit;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-family: "Open Sans";
}
.paragraph--EstadosUnidos-end {
  font-size: 0.9rem !important;
  color: #222;
  box-sizing: inherit;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-family: "Open Sans";
}
