.label {
  box-sizing: border-box;
  font-size: 1em;
  padding: 1em 2em;
  background: transparent;
  border: 2px solid #5974c7;
  color: #5974c7 !important;
  border-radius: 0.3em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 5%);

}
.link{
  width: 260px;
  margin: 50px auto;
  display: flex;
  text-decoration: none;
}
.label:hover {
  box-sizing: border-box;
  font-size: 1em;
  padding: 1em 2em;
  background: #5974c7;
  border: 2px solid #5974c7;
  color: #ffffff !important;
  border-radius: 0em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 5%);
}

