.flexRow--values-about-us{
    margin-top: 100px;
}
.flexRowContent--content-mission-about-us{
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px){
    .flexRow--mission-about-us,
    .flexRow--values-about-us,
    .flexRow--team-about-us{
        padding: 0 1.5rem;
    }
    .flexRowContent--content-mission-about-us{
        flex-direction: column;
    }  
    
}








